/* .AllSongs{
  max-width: 1090px;
} */
.hsong{
  height: 200px;
}
.poster{
  position: relative;
}
.playbtn{
  position: absolute;
  top: 80%;
  right: 5%;
  width: 40px;
  height: 40px;
  background: black;
  box-shadow: black 0px 5px 10px 0px;
  transform: translateZ(-100px);
    z-index: -10;
    transition: 1s ease all;
}
.song:hover .playbtn{
  z-index: 0;
  transition: all .5s ease;
}
.hSong:hover .playbtn{
  z-index: 0;
  transition: all .5s ease;
}
.songs {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    min-height: 270px;
  }
  
  .songs::-webkit-scrollbar {
    display: none;
  }
  .poster{
    width: 200px;
  }
  
  .song {
    width: 100%;
    object-fit: fill;
    max-height: 192px;
    transition: transform 450ms;
    margin-right: 10px;
  }
  .hSong {
    /* width: 100%; */
    object-fit: fill;
    max-height: 192px;
    transition: transform 450ms;
    margin-right: 10px;
  }